html,
body,
#app {
	height: 100%;
}

body {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.mobile-bottom-drawer-90 {
	height: min(90vh, 660px) !important;
	height: min(90dvh, 660px) !important;
	max-height: min(90vh, 660px) !important;
	max-height: min(90dvh, 660px) !important;
}

.mobile-bottom-drawer-80 {
	height: min(80vh, 660px) !important;
	height: min(80dvh, 660px) !important;
	max-height: min(80vh, 660px) !important;
	max-height: min(80dvh, 660px) !important;
}

.active{
    color: #4b9e5f!important;
}

// Hide image preview download button (6th icon in toolbar)
.n-image-preview-toolbar .n-base-icon:nth-child(6) {
    display: none !important;
}
